In [1]:
import pandas as pd

### Loading Datasets

In [2]:
titles = pd.read_csv('titles.csv')
titles.head()

                  title  year
0    Tasveer Mere Sanam  1996
1              Only You  1994
2  El pueblo del terror  1970
3               Machine  2007
4                  MARy  2008

### How many movies are listed in the titles dataframe?

In [4]:
print(f"There are {len(titles)} movies listed in this dataframe.")

There are 244914 movies listed in this dataframe.

### What are the earliest two films listed in the titles dataframe?

In [26]:
print("The two earliest films are:")
earliest_films = titles.sort_values('year').head(2)
for i in range(len(earliest_films)):
    print(f"{i +1}. {earliest_films['title'].values[i]} ({earliest_films['year'].values[i]})")

The two earliest films are:
1. Miss Jerry (1894)
2. The Startled Lover (1898)

### How many movies have the title "Hamlet"?

In [34]:
print(f"There are {len(titles[titles.title == 'Hamlet'])} movies that have the title 'Hamlet'.")

There are 20 movies that have the title 'Hamlet'.

### How many movies are titled "North by Northwest"?

In [35]:
print(f"There are {len(titles[titles.title == 'North by Northwest'])} movies that have the title 'North by Northwest'.")

There are 1 movies that have the title 'North by Northwest'.

### When was the first movie titled "Hamlet" made?

In [38]:
year = str(titles[titles.title == 'Hamlet'].sort_values('year').head(1)['year'].values[0])

In [39]:
print("The first movie titled 'Hamlet' was made in", year)

The first movie titled 'Hamlet' was made in 1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [42]:
treasure_island = titles[titles.title == 'Treasure Island'].sort_values('year')
for i in range(len(treasure_island)):
    print(f"{i +1}. {treasure_island['title'].values[i]} ({treasure_island['year'].values[i]})")

1. Treasure Island (1918)
2. Treasure Island (1920)
3. Treasure Island (1934)
4. Treasure Island (1950)
5. Treasure Island (1972)
6. Treasure Island (1973)
7. Treasure Island (1985)
8. Treasure Island (1999)

### How many movies were made in the year 1950?

In [43]:
print(len(titles[titles.year == 1950]), "movies were made in 1950.")

1113 movies were made in 1950.

### How many movies were made in the year 1960?

In [44]:
print(len(titles[titles.year == 1960]), "movies were made in 1960.")

1549 movies were made in 1960.

In [46]:
print(len(titles[titles.year.between(1950, 1959)]), "movies were made from 1950 through 1959.")

12934 movies were made from 1950 through 1959.

### In what years has a movie titled "Batman" been released

In [49]:
print("'Batman' has been released in:")

years = titles[titles.title == 'Batman'].sort_values('year')
for i in range(len(years)):
    print(f"{i +1}. {years['year'].values[i]}")

'Batman' has been released in:
1. 1943
2. 1989

### How many roles were there in the movie "Inception"?